body{margin:0px;}
.bg
{
	font-family:Arial;
	color:#497290;
	margin:0px;
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3C7EAE,endcolorstr=#FFFFFF,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3C7EAE,endcolorstr=#FFFFFF,gradientType=0);/*IE8*/
    background:#FFFFFF; 
    background:-moz-linear-gradient(top, #3C7EAE, #FFFFFF);
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#3C7EAE), to(#FFFFFF));
    background:-o-linear-gradient(top, #3C7EAE, #FFFFFF);
    height:500px;
    padding-top:150px;
}
.layout{width:500px;margin:0px auto}
.login-bg{background:url(images/login-bg.png);height:260px;padding:40px 40px 0px 40px}
.login-title{font-size:18px;font-weight:bold;border-bottom:1px solid #497290}
.title{font-size:30px;color:#FFF;}
table{width:90%}
td{height:40px}
td img{float:left;margin-left:10px;}
input{background:#EFF2F9;border:1px solid #8A98A5;width:70%;font-size:16px;float:left}
#btnSubmit{background:url(images/button-bg.gif);width:100px;cursor:pointer}